<nav id="navbar" class="navbar navbar-light">
  <span id="navbarText" class="navbar-brand mb-0 h1">National Parks and Campsites Mapper</span>
</nav>
<main>
  <article id="mapAndDropdowns" class="container col">
    <section class="row">
      <div class="col-5 np">
        <text>Choose a National Park</text>
        <select name="nationalParks" id="nationalParks"
          class="select-dropdown btn btn-success dropdown-toggle"></select>
        <div id="np-view"></div>
      </div>
      {{!-- not sure what this is for --}}
      {{!-- <div id="activities">
    <div id="activity-view"></div>
    </div> --}}

      <div class="col np">
        <text>Pick a state to search campsites</text>
        <select name="statePick" id="statePick" class="select-dropdown btn btn-secondary dropdown-toggle"></select>
        {{!-- <div id="state-view"></div> --}}
      </div>
    </section>
    <section class="row">
      <div id="googleMap" style="width:700px;height:500px;" class="col-6"></div>
      <article class="col-6" id="userReviews"> This is where the user reviews will go</article>

    </section>
  </article>
  <article id="activities" class="container">
    
    <ul>
      {{#each campgrounds}}
      <li>
        <p>Campsite Name: {{this.name}}</p>
        <p>State: {{this.state}}</p>
        <p class="location">Location: <span id="lati">{{this.latitude}}</span>, <span
            id="long">{{this.longitude}}</span>
        </p>

        <form class="create-form">

          <div class="form-group">
            <label for="rating">Rating for this campsite</label>
            <input type="text" id=`{{this.id}}` name="name">
          </div>

          <button type="submit">Add Rating</button>
        </form>
      </li>

      {{/each}}
    </ul>
  </article>

</main>
<script>
  function myMap() {
    var mapProp = {
      center: new google.maps.LatLng(39.833333, -98.583333),
      zoom: 4,
    };

    var map = new google.maps.Map(document.getElementById("googleMap"), mapProp);

    // for whatever reason, google maps gets screwed up if I try to delete this marker.
    var marker = new google.maps.Marker({
      // WE WILL MANIPULATE THE MARKER POSITION AND ZOOM
      position: { lat: 39.833333, lng: -98.583333 },
      map: map,
    })



    google.maps.event.addListener(marker, 'click', function () {
      var pos = map.getZoom();
      map.setZoom(9);
      map.setCenter(marker.getPosition());
      window.setTimeout(function () { map.setZoom(pos); }, 3000);
    });




    $(".location").each((index) => {
      // console.log(index)
      // below we are finding all the lat and lng data in the html 
      console.log(this.lati)
      console.log(this.long)

      var latitude = this.lati[index].innerHTML
      // console.log(this.lati[index].innerHTML)
      var longitude = this.long[index].innerHTML

      // here we are looping through everything that is lati
      var latitudeArray = this.lati
      for (i = 0; i < latitudeArray.length; i++) {
        // console.log(latitudeArray[i].innerHTML)

      }
      // here we are looping though everything that is long
      var longitudeArray = this.long
      for (i = 0; i < longitudeArray.length; i++) {
        //  console.log(longitudeArray[i].innerHTML)

      }
      var htmlLat = this.lati[0].innerHTML
      var htmlLong = this.long[0].innerHTML
      // console.log(this.lati[0].innerHTML)

      var marker = new google.maps.Marker({
        // WE WILL MANIPULATE THE MARKER POSITION AND ZOOM
        position: {
          lat: parseFloat(htmlLat),
          lng: parseFloat(htmlLong)
        },
        map: map,
        icon: "tents.png"
      })

      var htmlLat1 = this.lati[1].innerHTML
      var htmlLong1 = this.long[1].innerHTML


      var marker = new google.maps.Marker({
        // WE WILL MANIPULATE THE MARKER POSITION AND ZOOM
        position: {
          lat: parseFloat(htmlLat1),
          lng: parseFloat(htmlLong1)
        },
        map: map,
        icon: "tents.png"
      })

      var htmlLat2 = this.lati[2].innerHTML
      var htmlLong2 = this.long[2].innerHTML


      var marker = new google.maps.Marker({
        // WE WILL MANIPULATE THE MARKER POSITION AND ZOOM
        position: {
          lat: parseFloat(htmlLat2),
          lng: parseFloat(htmlLong2)
        },
        map: map,
        icon: "tents.png"
      })

      var htmlLat3 = this.lati[3].innerHTML
      var htmlLong3 = this.long[3].innerHTML


      var marker = new google.maps.Marker({
        // WE WILL MANIPULATE THE MARKER POSITION AND ZOOM
        position: {
          lat: parseFloat(htmlLat3),
          lng: parseFloat(htmlLong3)
        },
        map: map,
        icon: "tents.png"
      })



      // create new marker using lat and long
    });

  };

  // once the document loads...
  // grab all of the lats and longs of each camp site from the html
  // create a marker using those lats and longs.
  $(document).ready(() => {




  });



</script>

<script
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBNSFmU_Tr3OE3j0g1xAXhLwrQC_h1fupA&callback=myMap"></script>